In [1]:
# Data science imports
import pandas as pd
import numpy as np

# CSV reader
import csv

In [3]:
psbat = pd.read_csv("https://raw.githubusercontent.com/chadwickbureau/baseballdatabank/master/core/BattingPost.csv", sep=',')
psbat

,yearID,round,playerID,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1884,WS,becanbu01,NY4,AA,1,2,0,1,0,...,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN
1,1884,WS,bradyst01,NY4,AA,3,10,1,0,0,...,0,0,NaN,0,1,0,NaN,NaN,NaN,NaN
2,1884,WS,carrocl01,PRO,NL,3,10,2,1,0,...,1,0,NaN,1,1,0,NaN,NaN,NaN,NaN
3,1884,WS,dennyje01,PRO,NL,3,9,3,4,0,...,2,0,NaN,0,3,0,NaN,NaN,NaN,NaN
4,1884,WS,esterdu01,NY4,AA,3,10,0,3,1,...,0,1,NaN,0,3,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15455,2020,NLCS,ynoahu01,ATL,NL,1,0,0,0,0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0
15456,2020,ALCS,zuninmi01,TBA,AL,7,18,2,5,0,...,4,0,0.0,0,6,0,1.0,0.0,1.0,0.0
15457,2020,ALDS1,zuninmi01,TBA,AL,4,12,1,1,0,...,2,0,0.0,0,8,0,0.0,0.0,0.0,0.0
15458,2020,ALWC1,zuninmi01,TBA,AL,2,7,1,2,0,...,2,0,0.0,0,4,0,0.0,0.0,0.0,0.0
15459,2020,WS,zuninmi01,TBA,AL,6,16,0,1,0,...,0,0,0.0,1,9,0,0.0,0.0,0.0,1.0

In [4]:
psbat.describe()

,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,15460.000000,15460.000000,15460.000000,15460.000000,15460.000000,15460.000000,15460.000000,15460.000000,15460.000000,15460.000000,15259.000000,15460.000000,15460.000000,15460.000000,15259.000000,15259.000000,15259.000000,15259.000000
mean,1989.627555,3.077361,7.534347,0.901423,1.818823,0.319211,0.044567,0.197413,0.839263,0.139715,0.063241,0.717723,1.504269,0.077038,0.063438,0.093912,0.046923,0.142539
std,29.866256,1.871330,8.749642,1.500841,2.568872,0.693631,0.226102,0.538420,1.557314,0.548461,0.279736,1.286305,2.021566,0.338110,0.272210,0.346927,0.227602,0.412399
min,1884.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1978.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2000.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2012.000000,4.000000,14.000000,1.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2020.000000,15.000000,66.000000,13.000000,21.000000,6.000000,4.000000,6.000000,13.000000,15.000000,5.000000,13.000000,17.000000,7.000000,4.000000,5.000000,3.000000,5.000000