In [1]:
# Import packages
# Using Python v3.8.3

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [6]:
batters_2021 = "mlb-player-stats-Batters.csv"
batters = pd.read_csv(batters_2021)
batters

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,Whit Merrifield,KC,2B,32,162,664,97,184,42,3,...,4,40,103,0,12,4,0.277,0.317,0.395,0.712
1,Marcus Semien,TOR,2B,31,162,652,115,173,39,2,...,1,66,146,0,3,3,0.265,0.334,0.538,0.872
2,Tommy Edman,STL,2B,26,159,641,91,168,41,3,...,5,38,95,2,4,6,0.262,0.308,0.387,0.695
3,Bo Bichette,TOR,SS,23,159,640,121,191,30,1,...,1,40,137,0,4,6,0.298,0.343,0.484,0.827
4,Isiah Kiner-Falefa,TEX,SS,26,158,635,74,172,25,3,...,5,28,90,1,2,11,0.271,0.312,0.357,0.669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,Kevin Padlo,SEA,3B,25,1,1,0,0,0,0,...,0,0,1,0,0,0,0.000,0.000,0.000,0.000
730,Hoy Park,NYY,SS,25,1,1,0,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
731,Skye Bolt,SF,OF,28,2,1,0,0,0,0,...,0,0,1,0,0,0,0.000,0.000,0.000,0.000
732,Tyler Ladendorf,CHC,2B,33,1,1,0,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
733,Mario Feliciano,MIL,C,23,1,0,1,0,0,0,...,0,1,0,0,0,0,0.000,1.000,0.000,1.000

In [7]:
# Describe the data

batters.describe()

,Age,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
count,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000,734.000000
mean,28.651226,68.252044,214.964578,29.708447,53.181199,10.606267,0.912807,8.079019,28.374659,3.009537,0.967302,21.277929,54.498638,0.464578,1.540872,2.852861,0.219956,0.292804,0.362376,0.655180
std,3.615322,49.276905,180.919310,28.595442,49.273590,10.327463,1.380244,9.559280,28.382977,5.141508,1.649017,21.365375,44.964250,1.101022,2.075740,3.658720,0.077785,0.088069,0.141682,0.212926
min,20.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,23.000000,51.250000,6.000000,10.000000,2.000000,0.000000,1.000000,4.250000,0.000000,0.000000,4.000000,15.000000,0.000000,0.000000,0.000000,0.190000,0.259000,0.300000,0.569000
50%,28.000000,60.000000,174.500000,21.000000,39.000000,8.000000,0.000000,5.000000,19.000000,1.000000,0.000000,15.000000,44.500000,0.000000,1.000000,2.000000,0.233000,0.304000,0.377000,0.689500
75%,31.000000,110.750000,338.000000,47.000000,85.750000,17.000000,1.000000,11.000000,45.000000,4.000000,1.000000,33.000000,85.750000,0.750000,2.000000,4.000000,0.262000,0.335000,0.442000,0.775500
max,41.000000,162.000000,664.000000,123.000000,191.000000,42.000000,8.000000,48.000000,121.000000,40.000000,10.000000,145.000000,202.000000,12.000000,12.000000,27.000000,1.000000,1.000000,1.000000,2.000000

In [11]:
batters.columns

Index(['Player', 'Team', 'Pos', 'Age', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'SH', 'SF', 'HBP', 'AVG', 'OBP', 'SLG',
       'OPS'],
      dtype='object')

In [12]:
# Get values: total batters, mean AB, mean H, mean BA

batct = 0
for x in batters["Player"]:
    batct += 1
batct

734

In [18]:
# mean_ab = batters["AB"].mean()
# mean_ab

sum_ab = batters["AB"].sum()
sum_ab

157784

In [19]:
mean_h = batters["H"].mean()
mean_h

53.18119891008175

In [20]:
mean_ba = batters.H.sum()/batters.AB.sum()
mean_ba

0.2473951731481012